@model banklokalASPNET.Models.Pozyczki

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pozyczki</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Wartosc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wartosc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataSplaty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataSplaty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.K)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.K.Imie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
